@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background: #424242;
}

header{
    height: 20vh;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title{
    font-size: 2.5em;
    color: #ffffff;
    margin: 0 0 .1em;
}
  
  .page-logo{
    width: 15em;
}
  
.alura-logo{
    width: 10em;
    position: absolute;
    top: 1em;
    right: 1em;
}

main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .9);
    border-radius: 10px;
}

/*  ===============================> PAINEL GAME */

.game_chat, .game_painel{
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background: rgba(248,248,255);
}

.game_painel{
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    justify-content: space-around;
}

.game_painel h1{
    font-size: 2.5em;
}

.game_painel p{
    font-size: 1.5em;
    cursor: pointer;
}

.clear_eye{
    opacity: .2;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;}
  
.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}
  
.button::before {
    top: 0;
    border-bottom-width: 0;
}
  
.button::after {
    bottom: 0;
    border-top-width: 0;
}
  
.button:active,
.button:focus {
    outline: none;
}
  
.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}
  
.button:active::before {
    top: 3px;
}
  
.button:active::after {
    bottom: 3px;
}
  
.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
  
.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}
  
.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}
  
.button_text {
    position: relative;
}
  
.button:hover {
    color: #0f1923;
}
  
.button:hover .button_sl {
    width: calc(100% + 15px);
}
  
.button:hover .button_lg::after {
    background-color: #fff;
}
  

/*  ===============================> CHAT GAME */

.game_chat{
    width: 60%;
    border-radius: 0px 10px 10px 0px;
}

.window_chat{
    width: 100%;
    height: 90%;
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url('https://i.pinimg.com/originals/d4/43/f9/d443f9bab7ab05683e46925a45feb657.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    overflow: auto;
}
.d_player, .d_game{
    width: 50%;
    background: rgba(0, 0, 0, 0);
}

.d_player{
    margin-left: 50%;
}

.p_game, .p_player{
    width: 100%;
    padding: .5em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .8);
    background: #ffffff;
}

.p_game{
    color: #ffffff;
    background: rgb(0,0,0);
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, .2);
}

/* #dg1, #dg2, #dg3, #dg4, #dg5, #dp1, #dp2, #dp3, #dp4, #dp5, #pg1, #pg2, #pg3, #pg4, #pg5, #pp1, #pp2, #pp3, #pp4, #pp5{
    display: none;
} */

/*  ===============================> INPUTS CHAT GAME */

.input_chat{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background: rgb(18, 140, 126) ;
    border-radius: 0px 0px 10px 10px;
}

#form{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_text{
    width: 85%;
    padding: .4em;
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px 0px 0px 10px;
    border: solid 2px black;
    outline: none;
}

#btn_enviar{
    width: 10%;
    padding: .4em;
    font-size: 1em;
    font-weight: 400;
    border-radius: 0px 10px 10px 0px;
    border: solid 2px black;
    border-left: none;
    outline: none;
}